/* css 重置 */
body, p, input, h1, h2, h3, h4, h5, h6, ul, li, dl, dt, dd, form { margin: 0; padding: 0; list-style: none; vertical-align: middle; font-weight:normal; }
img { border:0; margin: 0; padding: 0;   }
body { color: #000; -webkit-user-select: none; -webkit-text-size-adjust: none; font:normal 16px/200% "微软雅黑", helvetica, arial; text-align:left;   }
header, section, footer { display: block; margin: 0; padding: 0 }
a{text-decoration:none;color:#000;}
input{border:0}
#clear,.clear{clear:both;line-height:1px;height:1px;margin-top:-1px;overflow:hidden}
.pa{padding:10px 0}
 
/* 效果导航 */
.effectNav{ margin-top:10px; background:#ba0000; padding-bottom:10px;  }
.effectNav h3{ padding:0 10px;  color:#fff; font-size:14px; text-align:center}
.effectNav p{  margin:10px 0 0 10px; height:22px; color:#fff; line-height:22px; font-size:13px; text-align:center; overflow:hidden}
.effectNav a{color:#fff;}


/* 本例子css ----------------------- */
 
/* 头部 */
header{  background:#333333; padding:10px 0; }
nav{ color:#cb524b; text-shadow:1px 1px 0 #965e18; font-size:0}
nav a{ display:inline-block; width:25%; text-align:center; color:#fff; font-size:16px; vertical-align:top; }
nav a:hover,nav a:visited{ color:#fff;}

.content_top{ position:relative; padding-bottom:0; background:#ba0000}
.arrowl{ position:absolute;left:10px;top:15px;   cursor:pointer;}
.arrowr{ position:absolute;right:10px;top:15px;}
.context{padding-top:2px; text-align:center;font-size:1.0rem; color:#fff;font-family:microsoft yahei;line-height:45px;}
.context a{color:#fff;}

.cnsnav{ padding:0px;}
#navlayer{padding:10px 0;}
.cnsnav li{font-size:1rem;}
/*nav*/
.cnsnav{padding:0 0; position:relative;z-index:2;}
.cnsnav ul{width:320px;margin:0 auto;position:relative;height:30px; overflow:hidden;}
.cnsnav li{ float:left;width:25%; text-align:center;font-size:15px;line-height:30px;color:#000;}
.cnsnav li a{color:#000;}
.cnsnav li.selimg{ }
.cnsnav li.selimg a{background-color:#d90916;padding:0 4px;border-radius:3px;color:#fff;font-size:1rem;}

.cnsnav li.more{ background:#f6f6f6; position:absolute;bottom:0;right:3px;display:block;}
.cnsnav li.close{ background:#f6f6f6;}
.cnsnav .navlayer{ position:absolute;left:0;top:0px;width:100%;background:#f8f8f8;display:none;}
.navlayer .cnsnav ul{height:auto;}

/*头部二级栏目 多米互动|www.mobanwang.cc|QQ953101005 2016-5-27新增*/
.nav2{ margin:10px 8%; position:relative; }
.nav2 a{ padding:0 10px; line-height:22px; font-size:12px; float:left; margin:4px 10px 4px 0; border:#cccccc 1px solid; display:block;  }
.nav2 a:hover{ background:#ee4b4b; color:#FFF; }
.nav2 a.bghover{ background:#ee4b4b; border:#ee4b4b 1px solid; color:#FFF; }

/* 头条 */
.headNew{ padding-top:10px;  }
.headNew,.subNew{ text-align:center; }
.headNew a{ color:#ba0000; font-size:20px;  }
.subNew a{ color:#999; font-size:14px; margin:0 5px;   }
.subNew{line-height:22px; color:#666; padding-bottom:10px; margin:0 10px; }



/* 焦点图 */
.imgSwipeMain{position:relative;}
.swipe{overflow:hidden;position:relative;height:240px;}
.swipe-wrap,.sliderTxt{overflow:hidden;position:relative;}
.swipe-wrap .image{float:left;width:100%;position:relative;height:240px;}
.sliderTxt .tabTxtSwipe{float:left;width:100%;position:relative;}
.swipe-wrap .image a{display:block;width:100%;height:100%;}
.swipe-wrap .image .title{position:absolute;height:40px;line-height:40px;bottom:0;background:#000;opacity:0.8;padding:0 110px 0 20px;width:100%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.swipe-wrap .image .title p{font-size:16px;width:100%;color:#fff;height:40px;line-height:40px;overflow:hidden;}
#position{list-style:none;margin:0;padding:0;position:absolute;right:10px;bottom:5px;}
#position .swiper-pagination-switch{display:inline-block;width:10px;height:10px;border-radius:10px;background:#a8a8a8;margin:0 2px;cursor:pointer}
#position .swiper-active-switch{background-color:#69b0f6;}
.imgSwipeMain .swipe-rap .image{display:block;height:300px;background-size:cover;}


/* Tab切换 */
.tabBox{ margin:10px auto;   }
.tabBox .hd{ height:40px; line-height:40px; font-size:20px; overflow:hidden; background:#eee; border-top:1px solid #ccc;  padding:0 10px;  }
.tabBox .hd h3{ float:left; font-size:24px; }
.tabBox .hd h2{ float:left; font-size:16px; }
.tabBox .hd span{color:#ccc; font-family:Georgia; font-size:16px; margin-left:10px;  }
.tabBox .hd ul{ float:right;  }
.tabBox .hd ul li{ float:left;  padding:0 5px; vertical-align:top; font-size:14px}
.tabBox .hd ul li.on a{ color:#B63B34; display:block; height:38px; line-height:38px;   border-bottom:2px solid #B63B34;  }
.tabBox .bd ul{ padding:10px;  }
.tabBox .bd ul li{ border-bottom:1px dotted #ddd;  }
.tabBox .bd li a{ -webkit-tap-highlight-color:rgba(0,0,0,0); }  /* 去掉链接触摸高亮 */
.readMore{ width:98%; display:block; height:30px; line-height:30px; margin:10px auto 20px auto;  text-align:center; text-decoration:none; background:#f4f4f4; border:#dedede 1px solid;    -moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */}
.readMore:hover{ width:98%; display:block; height:30px; line-height:30px; margin:10px auto 20px auto;  text-align:center; text-decoration:none; background:#EBEBEB; border:#dedede 1px solid;    -moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */}

 /* 多图滚动 */
.scrollBox{ margin:10px auto; text-align:center;  }
.scrollBox .bd li{ width:50%; float:left; font-size:14px; padding-bottom:10px; }
.scrollBox .bd li a{ -webkit-tap-highlight-color:rgba(0,0,0,0); }  /* 去掉链接触摸高亮 */
.scrollBox .bd li img{ max-width:155px; height:95px; background:url(../images/loading.gif) #fff center center no-repeat;  }
.scrollBox .bd li p{ text-align:center; line-height:22px; overflow:hidden}
.scrollBox .hd{ height:20px; overflow:hidden; font-size:0; }
.scrollBox .hd ul{ display:inline-block; padding-top:5px; }
.scrollBox .hd li{ display:inline-block; width:8px; height:8px; background:#D0D0D0; margin:0 5px; vertical-align:top; overflow:hidden; 
-webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; 
}
.scrollBox .hd .on{ background:#BA2636;  }
.scrollBox .prev,.scrollBox .next{ display:inline-block; width:25px; height:20px; background:url(../images/wyicons.png) no-repeat; overflow:hidden; margin:0 5px;  vertical-align:top; }
.scrollBox .next{ background-position:-105px 0; }

/*图集*/
.tabimg{ padding:10px 0;}
.tabimg a {text-align: center;width:45%;display: inline-block; margin:0 2%; overflow:hidden}
.tabimg img {width: 100%; height:110px}
.tabimg p {font-size: 12px;color: #333;line-height:18px; height:18px; overflow:hidden}

.pblimg{ padding:10px 0;}
.pblimg a {text-align:center; width:98%; display: inline-block; padding:2% 1%; margin:0 auto; overflow:hidden}
.pblimg img {width:95%;}
.pblimg p {font-size: 12px;color: #333;line-height:18px; height:18px; overflow:hidden}

.tabimgg{ padding:10px 0;}
.tabimgg a {text-align: center;width:46%;display: inline-block; margin:0 2%; overflow:hidden}
.tabimgg img {width: 100%; height:140px}
.tabimgg p {font-size: 12px;color: #333;line-height:18px; height:18px; overflow:hidden}

/*图文*/
.news_list { clear:both; padding:0 1%}
.news_list .news_item {position:relative; border-bottom:#dedede 1px dotted; height:63px;overflow:hidden;padding:15px 0}
.news_list .news_item img.avator75 {width:75px;height:60px;position:absolute;top:24px;left:0px;}
.news_list .news_detail {min-height: 63px;padding-left: 82px;position: relative;}
.news_list .news_detail span {color: #121212;font-size: 16px;font-weight: normal;line-height: 21px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; height:21px; padding-right:5px}
.news_list .news_detail p {margin-top:2px;color:#9d9d9d;line-height:20px;font-size:12px;padding-right:5px}
 
/* 文章页 */
article .content{ color:#555555; background:#fefefe}
article .info{ border-bottom:1px dotted #cccccc; color:#666666; background:#f6f6f6; font-size:0.8em; text-align:center; padding:0.2em}
article .content{ padding:5% 2%; text-indent:0.5em}
article .content p{padding-top:5px}
article .content img{ margin:0 auto; max-width:90%; display:block}
article .content video{width:95%; height:250px}
article .content table{width:95%; overflow:hidden}

.share{ width:96%; padding:0 2%; float:right; clear:both; height:42px; text-align:left; font-size:12px}

.pages{width:90%; height:30px; text-align:center; margin:2% auto}
.pages ul{ float:right}
.pages .firstPage{width:30px;}
.pages ul li{float: left;line-height: 25px;height: 25px;margin-left: 5px;font-size: 12px;border: 1px solid #E9E9E9;padding: 0px 10px;width: auto;}
.pages ul li a:hover{color: #ff0000;text-decoration: none;}
.pages ul li.thisclass, .pages ul li.thisclass a, .pages ul li.thisclass a:hover{background-color: #333333;color: #FFF}
.pages .pageinfo{line-height: 25px;padding: 12px 5px 10px 5px;color: #999;}
.pages select{line-height: 25px;margin-top: 4px}
.pages .pageinfo strong{color: #555;font-weight: normal;margin: 0px 2px;}

/*图集详细*/
.picbox{ width:95%; margin:10px auto; text-align:center}
.picbox img{max-width:100%;height: auto; text-align:center; padding-bottom:10px; margin:0 auto}
.picbox p{font-size:12px;line-height:1.8;margin:5px 0;word-break:break-all;overflow:hidden}
.picbox ul.center{text-align:center; }
.picbox a.c1{font-size: 13px; padding: 3px 8px; text-align: center;color: #666;display: inline-block; height:22px; line-height:22px; border-bottom:1px solid #D4D4D4;background: #EEE none repeat scroll 0% 0%;}
 
/************返回顶部*************/
#goTopBtn{position:fixed;text-align:center;line-height:30px;width:30px;height:30px;bottom:10px;cursor:pointer;right:10px;_position:absolute;_right:auto;}

/************广告位*************/
.ad_wap{ width:100%; height:auto !important; }
.ad_wap img{ width:100%; height:auto !important; }